@using Microsoft.AspNetCore.Identity
@using StarStuff.Web.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole(WebConstants.AdminRole))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="admin" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu " aria-labelledby="admin">
                        <li class="dropdown-item">
                            <a asp-area="Admin" asp-controller="Users" asp-action="Users" class="dropdown-link">Users</a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-area="Admin" asp-controller="Users" asp-action="Logs" class="dropdown-link">Logs</a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole(WebConstants.ModeratorRole))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="moderator" aria-expanded="false">Moderator<span class="caret"></span></a>
                    <ul class="dropdown-menu " aria-labelledby="moderator">
                        <li class="dropdown-item">
                            <a asp-area="Moderator" asp-controller="Astronomers" asp-action="Applications" class="dropdown-link">Applications</a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-area="Moderator" asp-controller="Telescopes" asp-action="Create" class="dropdown-link">Add Telescope</a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-area="Moderator" asp-controller="Journals" asp-action="Create" class="dropdown-link">Add Journal</a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole(WebConstants.AstronomerRole))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="astronomer" aria-expanded="false">Astronomer<span class="caret"></span></a>
                    <ul class="dropdown-menu " aria-labelledby="astronomer">
                        <li class="dropdown-item">
                            <a asp-area="Astronomer" asp-controller="Discoveries" asp-action="Create" class="dropdown-link">Add Discovery</a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-area="Astronomer" asp-controller="Discoveries" asp-action="All" class="dropdown-link">All Discoveries</a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-area="Astronomer" asp-controller="Discoveries" asp-action="Mine" class="dropdown-link">My Discoveries</a>
                        </li>
                    </ul>
                </li>
            }
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}