@model DiscoveryFormViewModel
@{
    ViewData["Title"] = "Add Discovery";
}

<div class="row">
    <div class="col-md-offset-2 col-md-4 ">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <hr />
            <div class="form-group">
                <label asp-for="Discovery.StarSystem"></label>
                <input asp-for="Discovery.StarSystem" class="form-control" />
                <span asp-validation-for="Discovery.StarSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discovery.Distance"></label>
                <input asp-for="Discovery.Distance" class="form-control" />
                <span asp-validation-for="Discovery.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Star.Name"></label>
                <input asp-for="Star.Name" class="form-control" />
                <span asp-validation-for="Star.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Star.Temperature"></label>
                <input asp-for="Star.Temperature" class="form-control" />
                <span asp-validation-for="Star.Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelescopeId"></label>
                <select asp-for="TelescopeId" asp-items="@Model.Telescopes" class="form-control"></select>
                <span asp-validation-for="TelescopeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AstronomerIds"></label>
                <select asp-for="AstronomerIds" asp-items="@Model.Astronomers" multiple class="form-control"></select>
                <span asp-validation-for="AstronomerIds" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save Discovery</button>
        </form>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>