@{
    ViewData["Title"] = "Delete Discovery";
}

<h2>Delete</h2>

<form method="post">
    <hr />
    Are you sure you want to delete this discovery? <input class="btn btn-danger" type="submit" value="Delete Discovery" />
</form>