@{
    ViewData["Title"] = "Delete Discovery";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <hr />
    Are you sure you want to delete this Discovery? <input class="btn btn-danger" type="submit" value="Delete Discovery" />
</form>