@model TelescopeFormServiceModel
@{
    ViewData["Title"] = "Add Telescope";
}

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <h2>@ViewData["Title"]</h2>
        @Html.Partial("_TelescopeForm", Model)

        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
    </div>
</div>