@model TelescopeFormServiceModel
@{
    ViewData["Title"] = "Add Telescope";
}

<div class="row">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-4">
        @Html.Partial("_TelescopeForm", Model)

        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
    </div>
</div>