@model TelescopeFormServiceModel
@{
    ViewData["Title"] = "Edit Telescope";
}

<div class="row">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-4">
        @Html.Partial("_TelescopeForm", Model)
    </div>
</div>