@model PlanetFormServiceModel

<form method="post">
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mass"></label>
        <input asp-for="Mass" class="form-control" />
        <span asp-validation-for="Mass" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Save Planet</button>
</form>