@model PlanetFormServiceModel
@{
    ViewData["Title"] = "Create Planet";
}

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <h2>@ViewData["Title"]</h2>
        @Html.Partial("_PlanetForm", Model)

        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
    </div>
</div>