@{
    ViewData["Title"] = "Delete Planet";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <hr />
    Are you sure you want to delete this Planet? <input class="btn btn-danger" type="submit" value="Delete Planet" />
</form>