@{
    ViewData["Title"] = "Delete Star";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <hr />
    Are you sure you want to delete this Star? <input class="btn btn-danger" type="submit" value="Delete Star" />
</form>